* {
	box-sizing: border-box;
}

html {
	height:100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	display: flex;
	flex-direction: column;
	height:100%;
	font-family: 'Lato', sans-serif;
}

/* CSS DO HEADER */
	header{
		background-color: #caeeff;
	}

	header form{
		display: flex;
	}

	header form input{
		padding: 10px;
		font-size: 16px;
		border: 1px solid #CCC;
	}

	header form button{
		border: 1px solid #CCC;
		padding: 0 20px;
		color:#666;
	}

	header img{
		height:100px;
	}

	header>div{
		display:flex;
		justify-content: space-between;
		align-items: center;
		padding: 40px 0;
	}
	.container{
		width:960px;
		margin-left: auto;
		margin-right: auto;
	}
/* FIM DE CSS HEADER */

nav {
	border-top:1px solid #CCC;
	border-bottom:1px solid #CCC;
	background-color: #F0F0F0;
}

nav>ul{
	margin:0;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: space-between; 
}

nav>ul>li>a{
	text-decoration: none;
	padding: 20px;
	display: inline-block;
	color: #333;
}

nav>ul>li>a:hover{
	background-color: rgba(255,255,255,0.5);
}



/*MAIN*/

/*BANNER*/

.banner-images {
    display: flex;
    justify-content: center;
    
}

.banner-img {
    max-width: 100%;
    width: 26.9rem;
    height: 19rem;
    object-fit: cover;
    justify-content: center;
}


/*BREADCRUMB*/

:root {
    --cor-principal: #000000;
    --cor-secundaria: #5f5c5c;

}

section nav {
    
    margin-top: 2rem;
    margin-left: 4.3rem;
    margin-bottom: 5rem;
}

nav ol  {
    list-style-type: none;
}

nav ol li {
    display: inline;
    font-family: "Roboto";
}

nav ol li::after  {
    content: '>';
    margin-right: 1rem;
}

nav ol li:last-child::after {
    content: '';

}

nav  ol li a  {
    color: var(--cor-principal);
    text-decoration: none;
    font-size: 1.8rem;
    margin-right: 1rem;
}

nav ol li a:hover {
    color: var(--cor-secundaria);
    text-decoration: underline;
}

.container-master{
    display:flex;
}

/*ASIDE*/

aside{
    margin-left: 5.2rem;
    margin-right: 6.4rem;
    width: 31rem;
    background: #FFFBF9;
}

.aside-pratos, .aside-xicaras, .aside-complementos, .aside-jantar {
    display:flex;
    flex-direction: column;
    gap:0.5rem;
    margin-bottom: 1rem;
}

.form-aside-cor, .form-aside-marca, .form-aside-material{
    display:flex;
    flex-direction: column;
    gap:0.6rem 
}

.aside-product-title{
    font-weight: 700;
    font-size: 1.8rem;
}

.aside-item{
    font-weight: 400;
    font-size: 18px;
    color:#000;
}

.left-hr{
    height:0.1rem;
    width:23rem;
    border-width:0;
    color:#FF8038;
    background-color: #FF8038;
    margin-top: 1.2rem;
}

.form-aside-title{
    font-style: italic;
    font-weight: 700;
    font-size: 1.8rem;
    margin-top: 1.2rem;
    margin-bottom: 0.8rem;
}

label{
    font-weight: 400;
    font-size: 1.8rem;
}

.chk{
    display:flex;
}

.chk input {
    display: none;
}

.chk span {
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    display: block;
    background-color: #fff;
    border: 1px solid #DDD;
    margin:0 1.6rem  0 0;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
}


.chk input:checked + span {
    background-color: #FF8038;
}

line {
    height: 0.3rem;
    color: #FF8038;
    width: 27rem;
}


/*RIGHT*/

.container-right-title{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 5.8rem;
}

.right-title{
    font-weight: 600;
    font-size: 40px;
}

.right-hr{
    height:0.1rem;
    width:29.6rem;
    border-width:0;
    color:#FF8038;
    background-color: #FF8038;
    margin-left: 12rem;
}

.h5-left{
    font-weight: 400;
    font-size: 1.8rem;
}

.h5-right{
    color: #FF8038;
    font-weight: 400;
    font-size: 1.8rem;
}

.seta-down{
    cursor:pointer;
}

.right-title-right{
    display:flex;
    gap:0.4rem;
}

.container-right{
    margin-right: 5.8rem;
}

.product-images {
    background: #FFFFFF;
border: 1px solid #D9D9D9;
border-radius: 10px;
    
}

.product-image{
    width: 25rem;
    height: 25rem;
    object-fit: cover;
    padding:2.4rem;
}


.product-images-1, .product-images-2, .product-images-3, .product-images-4{
    display:flex;
    gap:5rem;
    margin-bottom: 2rem;
}

.product-image-title{
    font-weight: 700;
    font-size: 1.4rem;
}

.product-image-descript{
    font-weight: 400;
    font-size: 1rem;
}

.product-image-price{
    font-weight: 700;
    font-size: 1.4rem;
}

.go-pages{
    display:flex;
    width:70rem;
    justify-content: center;
    gap:2.6rem;
    margin: 0 auto;
    margin-top: 6.5rem;
    margin-bottom: 2.8rem;
    cursor:pointer;
}

.go-page{
    font-weight: 400;
    font-size: 2rem;
    color: #343333;
}


/*FOOTER*/
footer {
    background-color: #D9D9D9;
    padding-top: 2rem;
    padding-bottom: 1rem;
    border-radius: 20px 20px 0 0;
    margin-top: 10px;
    margin-left: 3rem;
    margin-right: 3rem;
    font-family: "roboto";
}

footer a {
    text-decoration: none;

}

footer ul {
    padding: 0;
}

footer li {
    list-style: none;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    margin-left: 3rem;
}

.footer-container img {
    height: 40px;
}

.footer-payments h2 {
    text-align: center;
    padding-bottom: 5px;
}

.footer-list li a {
    margin-top: 1rem;
    padding-bottom: 1rem;
    display: block;
    line-height: 1.5rem;
    color: black;
}

.footer-cards {
    flex-direction: row;
    display: flex;
    align-items: center;
    margin-top: 1rem;
    line-height: 5rem;
}

.footer-cards img {
    height: 30px;
    padding-left: 20px;
}

.footer-customer {
    margin-right: 3rem;
}

.footer-social {
    margin-top: 3rem;
    
}

.icons-social {
    display: flex;
    gap: 1rem;
    height: 2rem;
    margin-top: 3rem;
    align-items: center;
    line-height: 5rem;
    margin-bottom: 10px;
}

.footer-bottom {
    border-top: 0.2rem solid #FF8038;
    margin-top: 2rem;
    text-align: center;
}